---
// ----------- components ----------- //
import Experience from '@components/Experience.astro';
import Projects from '@components/Projects.astro';
import SectionContainer from '@components/SectionContainer.astro';
import Hero from '@components/Hero.astro';

// ----------- layout ----------- //
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Portfolio de CEhM - Desarrollador Full-Stack"
  description="Página principal del portfolio de CEhM, Carlos Eduardo Hernández Munévar, desarrollador Full-Stack y estudiante de Ingeniería de Sistemas en la Universidad Politécnico Jaime Isaza Cadavid."
>
  <main
    class="flex flex-col w-full max-w-[1000px] my-28 sm:my-20 gap-20 mx-auto"
  >
    <Hero />
    <SectionContainer id="experience">
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <Projects />
    </SectionContainer>
  </main>
</Layout>
