---
// ----------- components ----------- //
import WorkIcon from '@icons/WorkIcon.astro'
import ExperienceItem from '@components/ExperienceItem.astro'

// ----------- content ----------- //
import { EXPERIENCE } from '@utils/constants.ts'
import ArticleHeader from './ArticleHeader.astro'
---

<article id="experience" class="flex flex-col gap-8 sm:gap-12">
  <ArticleHeader
    workIcon={WorkIcon}
    title="Experiencia Laboral"
    description="Mi trayectoria profesional y crecimiento"
  />

  <div class="relative">
    <div
      class="absolute left-3 top-0 bottom-0 w-0.5 bg-gradient-to-b from-accent via-accent/60 to-accent/20"
    >
    </div>

    <ol class="space-y-8 sm:space-y-12 ml-2 sm:ml-4">
      {
        EXPERIENCE.map((experience) => (
          <li class="pl-8 sm:pl-12">
            <ExperienceItem {...experience} />
          </li>
        ))
      }
    </ol>
  </div>
</article>
