---
// ----------- components ----------- //
import WorkIcon from '@icons/WorkIcon.astro'
import ExperienceItem from '@components/ExperienceItem.astro'

// ----------- content ----------- //
import { EXPERIENCE } from '@utils/constants.ts'
---

<article id="experience" class="flex flex-col gap-12">
  <h2 class="flex gap-2 text-2xl ml-8 font-bold leading-10 text-balance">
    <WorkIcon class="size-10" />Experiencia Laboral
  </h2>
  <ol class="relative border-s-2 border-main/20 dark:border-secondary w-full">
    {
      EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</article>
