<footer class="w-full">
  <p
    class="bg-secondary p-4 text-center text-main w-full border-t border-t-main/50 mt-40"
  >
    © 2024, Built with Astro by <strong class="text-main">CEhM</strong>
  </p>
</footer>
