<footer
  class="bg-secondary p-4 text-center text-main w-full border-t border-t-main/50 mt-40"
>
  <p>
    © 2024, Built with Astro by <strong
      class="text-accent font-bold text-balance">CEhM</strong
    >
  </p>
</footer>
