---
interface Props {
  href: string;
  text?: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  class="flex gap-1 rounded-full w-12 h-12 bg-background md:bg-transparent md:w-auto md:h-auto md:rounded-none text-center items-center justify-center hover:scale-105 transition-all duration-300 ease-in-out hover:text-accent hover:underline decoration-wavy"
>
  <slot /><span class="hidden md:block text-center">{text}</span>
</a>
