---
// ----------- props ----------- //
interface Props {
  href: string
  text?: string
}

const { href, text } = Astro.props
---

<a
  href={href}
  class="rounded-full w-12 h-12 border border-main/90 md:border-none md:w-auto md:h-auto md:bg-transparent md:hover:bg-background/80 md:px-4 text-center hover:scale-105 bg-background transition-all duration-300 ease-in-out hover:text-accent hover:underline decoration-wavy flex gap-1 items-center justify-center"
>
  <slot /><span class="sr-only">{text}</span><span class="hidden md:block text-center">{text}</span>
</a>
