---
// ------------------- icons ------------------- //
import WorkIcon from '@icons/WorkIcon.astro'
import HomeIcon from '@icons/HomeIcon.astro'
import DevIcon from '@icons/DevIcon.astro'

// ------------------- components ------------------- //
import HeaderButton from '@components/HeaderButton.astro'
import ThemeButton from '@components/ThemeButton.astro'
import UserIcon from '@/assets/icons/UserIcon.astro'
---

<header
  class="sticky top-4 z-50 flex px-3 py-2 m-4 rounded-full justify-center items-center max-w-[800px] w-11/12 bg-transparent transition-colors duration-300 border border-main/90"
>
  <nav class="w-full flex justify-between md:justify-around gap-2">
    <HeaderButton href="/" text="Inicio">
      <HomeIcon />
    </HeaderButton>
    <HeaderButton href="/#experience" text="Experiencia">
      <WorkIcon />
    </HeaderButton>
    <HeaderButton href="/#projects" text="Proyectos">
      <DevIcon />
    </HeaderButton>
    <HeaderButton href="/about" text="Sobre Mí">
      <UserIcon />
    </HeaderButton>
    <ThemeButton />
  </nav>
</header>

<script>
  let isTop = false

  function handleScroll() {
    isTop = window.scrollY === 0

    const $header = document.querySelector('header')

    if (isTop) {
      $header?.classList.add('bg-transparent')
      $header?.classList.remove('bg-secondary')
    } else {
      $header?.classList.remove('bg-transparent')
      $header?.classList.add('bg-secondary')
    }
  }

  window.onload = () => {
    handleScroll()

    window.addEventListener('scroll', handleScroll)
  }
</script>
