---
// ----------- props ----------- //
interface Props {
  href?: string;
  text: string;
  id?: string;
}

const { text, href, id } = Astro.props;
---

<a
  id={id}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center rounded-full px-2 py-1 text-sm min-w-20 font-medium gap-2 cursor-pointer hover:scale-105 transition-all duration-300 border border-accent hover:bg-accent/20 bg-ease-in-out transform/20 hover:shadow-lg"
>
  <slot />{text}
</a>
