---
interface Props {
  href?: string;
  text: string;
  className?: string;
  id?: string;
}

const { text, className = '', href, id } = Astro.props;
---

<a
  id={id}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`inline-flex items-center justify-center rounded-full px-2 py-1 text-sm min-w-20 font-medium gap-1 cursor-pointer hover:sacale-105 transition-all duration-200 border border-accent hover:bg-accent/50 bg-accent/20 ${className}`}
>
  <slot />{text}
</a>
