---
import DevIcon from '@/assets/icons/DevIcon.astro';
---

<article class="flex flex-col px-6">
  <section class="flex flex-col gap-12">
    <h2 class="flex gap-2 text-2xl ml-8 font-bold leading-10">
      <DevIcon class="size-10" />Proyectos
    </h2>
    <h3
      class="w-full uppercase text-center font-bold text-4xl rounded-xl bg-red-500 p-4 text-black"
    >
      aún en desarrollo...
    </h3>
  </section>
</article>
