---
import DevIcon from '@/assets/icons/DevIcon.astro';
---

<article class="flex flex-col px-6">
  <section class="flex flex-col gap-12">
    <h2 class="flex gap-2 text-2xl ml-8 font-bold leading-10">
      <DevIcon class="size-10" />Proyectos
    </h2>
  </section>
</article>
