---
// ----------- components ----------- //
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'

// ----------- styles ----------- //
import '@fontsource/rubik/400.css'
import '@/styles/global.css'
import { ClientRouter } from 'astro:transitions'

// ----------- config ----------- //
import Analytics from '@vercel/analytics/astro'
import ContactButton from '@/components/ContactButton.astro'
import PageContainer from '@/components/PageContainer.astro'

// ----------- props ----------- //
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <Analytics />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="text-main relative">
    <div class="-z-10 absolute h-full w-full bg-background">
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-size-[24px_34px] mask-[radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
      >
      </div>
    </div>
    <Header />
    <ContactButton />
    <!-- <ContactModal /> -->
    <PageContainer>
      <slot />
    </PageContainer>
    <Footer />
  </body><style is:global>
    :root {
      color-scheme: light dark;
      scroll-behavior: smooth;
    }

    body {
      font-family: 'Rubik', system-ui, sans-serif;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    strong {
      color: rgba(var(--accent));
    }

    @media (prefers-reduced-motion: reduce) {
      html {
        scroll-behavior: auto !important;
      }
    }
  </style>
</html>
